:host .addColor {
    background-color:#7CBCC5;
    display:inline-block;
    fill: #7CBCC5;
    background:#7CBCC5;
    color: white;
}

:host .removeColor {
    display:inline-block;
    border-left-color: #7CBCC5;
    border-bottom-color:  #7CBCC5;
    border-right-color:  #7CBCC5;
    border-top-color:   #7CBCC5; 
    color:  #7CBCC5;
    
}

/*:host button {
    margin-right:9px;
    padding: none !important;
    margin-left: none !important;
}*/